In [1]:
import pandas as pd 
df = pd.read_csv('https://raw.githubusercontent.com/softhints/Pandas-Exercises-Projects/main/data/food_recipes.csv')

In [2]:
(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   recipe_title   8009 non-null   object
 1   url            8009 non-null   object
 2   record_health  8009 non-null   object
 3   vote_count     8009 non-null   int64
 4   rating         8009 non-null   float64
 5   description    7994 non-null   object
 6   cuisine        7943 non-null   object
 7   course         7854 non-null   object
 8   diet           7858 non-null   object
 9   prep_time      7979 non-null   object
 10  cook_time      7979 non-null   object
 11  ingredients    7997 non-null   object
 12  instructions   8009 non-null   object
 13  author         8009 non-null   object
 14  tags           7930 non-null   object
 15  category       8009 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 1001.3+ KB

In [3]:
(df.describe(include='all'))

,recipe_title,url,record_health,vote_count,rating,description,cuisine,course,diet,prep_time,cook_time,ingredients,instructions,author,tags,category
count,8009,8009,8009,8009.000000,8009.000000,7994,7943,7854,7858,7979,7979,7997,8009,8009,7930,8009
unique,8009,8009,1,NaN,NaN,7989,77,13,10,89,72,7953,8009,328,7029,99
top,Chettinad Cauliflower Pepper Fry Recipe - Chet...,https://www.archanaskitchen.com/chettinad-caul...,good,NaN,NaN,"If you like this recipe, try more recipes like",Indian,Lunch,Vegetarian,10 M,30 M,गेहूं का आटा|नमक|तेल|घी,To begin making the Chettinad Cauliflower Pepp...,Archana's Kitchen,Party Food Recipes,Sabzi Recipes
freq,1,1,8009,NaN,NaN,6,1336,1925,5478,3137,1955,3,1,2803,21,1051
mean,NaN,NaN,NaN,2268.004495,4.888621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3683.156570,0.077467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,15.000000,3.175705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,494.000000,4.865031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,1050.000000,4.900553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2487.000000,4.930000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,80628.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
missing = df.isna().sum()
display(missing)

recipe_title       0
url                0
record_health      0
vote_count         0
rating             0
description       15
cuisine           66
course           155
diet             151
prep_time         30
cook_time         30
ingredients       12
instructions       0
author             0
tags              79
category           0
dtype: int64

In [5]:
df_clean = df.drop_duplicates().copy()

print("Przed:", df.shape)
print("Po:", df_clean.shape)

Przed: (8009, 16)
Po: (8009, 16)